<div class="card">
  <div class="card-container">
    <div class="inner-card">
      <h2><%= @card.name %></h2>
      <p>
        <%= @card.description %>
      </p>
      <%= link_to 'Edit', edit_card_path(@card) %> |
      <%= link_to 'Back', cards_path %>
    </div>
  </div>
</div>
