@import 'bootstrap';
@import 'bootstrap-responsive';
@import url(http://fonts.googleapis.com/css?family=Cantata+One|Ruthie|Gilda+Display|Forum);

body{
  background: url("beige-1.png") ;
  font-family: 'Gilda Display',serif;
}

.filler{
  height: 130px;
}

.container{
  width: 940px;
  margin: auto;
}

//Style of header
.topbar-fixed-top{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
  }
  .topbar{
    background: #4c4c4c; /* Old browsers */
    background: -moz-linear-gradient(left, #4c4c4c 0%, #000000 0%, #000000 0%, #474747 39%, #2c2c2c 50%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #595959 99%, #595959 99%, #666666 100%, #131313 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#4c4c4c), color-stop(0%,#000000), color-stop(0%,#000000), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(99%,#595959), color-stop(99%,#595959), color-stop(100%,#666666), color-stop(100%,#131313)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #4c4c4c 0%,#000000 0%,#000000 0%,#474747 39%,#2c2c2c 50%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#595959 99%,#595959 99%,#666666 100%,#131313 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #4c4c4c 0%,#000000 0%,#000000 0%,#474747 39%,#2c2c2c 50%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#595959 99%,#595959 99%,#666666 100%,#131313 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #4c4c4c 0%,#000000 0%,#000000 0%,#474747 39%,#2c2c2c 50%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#595959 99%,#595959 99%,#666666 100%,#131313 100%); /* IE10+ */
    background: linear-gradient(to right, #4c4c4c 0%,#000000 0%,#000000 0%,#474747 39%,#2c2c2c 50%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#595959 99%,#595959 99%,#666666 100%,#131313 100%); /* W3C */
    height: 60px;
    overflow: hidden;
    -webkit-box-shadow: 0 8px 6px -6px #222;
     -moz-box-shadow: 0 8px 6px -6px #222;
          box-shadow: 0 8px 6px -6px #222;
    z-index: 2;

    .topbar-inner{
      padding: 5px;
      height: 56px;

      .container{
        height: 56px;
        width: 940px;
        margin: auto;
        a{
          color: #fff;
          text-decoration: none;
        }
        a.brand{
          height: 40px;
          font-size: 35px;
          font-family: 'Ruthie', cursive;
          position: relative;
          span{
            padding-top: 18px;
            padding-left: 5px;
            position:absolute;
          }
          img{
            height: 40px;
            width: 115px;
            padding-top: 5px;
            vertical-align: text-bottom;
          }
        }//brand

        .user-nav{
          display: inline-block;
          float: right;
          //height: 200px;
          ul.right{
            list-style-type: none;
            padding: 15px;
            li{
              display: inline;
              border-right: 2px solid #ccc;
              padding: 20px ;
            }
          }//right

        }//user-nav
      }
    }//topbar-inner
  }//topbar

  .navbar{
    position: fixed;
    top: 60px;
    left:0px;
    right: 0px;
    background: -moz-linear-gradient(-45deg, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
    background: linear-gradient(135deg, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
    z-index: 0;
    -webkit-box-shadow: 0 2px 3px -3px #222;
     -moz-box-shadow: 0 2px 3px -3px #222;
          box-shadow: 0 2px 3px -3px #222;
    .navbar-container{
      width: 940px;
      margin: auto;
      ul.nav{
        list-style-type: none;
        li{
          display: inline;
          padding-right: 20px;
          a{
            text-decoration: none;
            color: #222;

          }
        }
      }//nav
    }//navbar-container
  }//navbar

//Style of homepage
#homepage{
  font-size: 15px;
  overflow: hidden;
  font-family: 'Forum',serif;
  background-color: #FEFEFA;
  -webkit-box-shadow: 0 8px 6px -6px #3B3C36;
    -moz-box-shadow: 0 8px 6px -6px #3B3C36;
      box-shadow: 0 8px 6px -6px #3B3C36;
  margin-bottom: 50px;
  padding: 20px;
  width: 100%;

  .title{
    border-bottom: 1px solid #222;
    h1{
      color: #54301a;
      padding-bottom: 5px;
    }
  }//title
  
  .hero{
    padding-left: 10px;
    float: left;

    

    p{
      
    }

    .links{
      display: inline-block;
      padding-top: 30px !important;
      .btn{
        margin-right: 10px;
        padding: 10px;
        font-size: 18px;
        
      }
    }

    
  }//hero
}//homepage

//Style of users pages
.form-actions{
  background: none;
}

footer{
  margin-top: 100px;  
}

